<form method="post" action="create">
  <input type="text" name="resource[name]" placeholder="Name">
  <input type="url" name="resource[url]" placeholder="URL">
  <input type="text" name="resource[description]" placeholder="Description">
  <input type="submit" value="Submit Resource">
</form>
